.apply-btn{
    color:rgb(5, 5, 164);
    margin:10px;
    text-decoration: underline;
}
.apply-btn:hover{
    color:rgb(45, 45, 241);
}
.table-container {
    max-width: 90%;
    margin: 2rem auto;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.seeJobs-container{
  padding-top: 100px;
  display:flex;
  justify-content: center;
  width: 100%;

        
    
}

#heading {
  text-align: center;
  width: 100%;
  margin: 80px auto 20px auto;
  font-size: 2rem;
  margin-top: 150px;

}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background: #06316a; 
    color: #fff;
    text-align: left;
}

th, td {
    padding: 1rem;
    text-align: left;
}


tr:hover td {
    background: white;
    cursor: pointer;
    color:#FFD700;
}
thead tr:hover td{
     background: #0a4490;
}

th {
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    th, td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

